<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Date</th>
      {% for typeMeasure in  typeMeasures %}
          <th>{{ typeMeasure.name|capitalize }} ({{ typeMeasure.unit }})</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for date, measure in measures %}
     <tr>
      <td>{{ date }}</td>
      {% for  measureEntity in measure %}
        {% set iconArrowThickVar = 'ui-icon-arrowthick-2-e-w' %}
        {% if measureEntity.progression ==  constant('Sportacus\\CoreBundle\\Measures\\Comparator\\ComparatorInterface::HAS_PROGRESS') %}
            {% set iconArrowThickVar = 'ui-icon-arrowthick-1-ne' %}
        {% elseif measureEntity.progression == constant('Sportacus\\CoreBundle\\Measures\\Comparator\\ComparatorInterface::HAS_NO_PROGRESS') %}
	       {% set iconArrowThickVar = 'ui-icon-arrowthick-1-se' %}
        {% endif %}
	      <td><span class="measure-value">{{ measureEntity.value }}</span> <span class="ui-state-highlight ui-icon {{ iconArrowThickVar }} progression-{{ measureEntity.progression  }}"></span></td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table> 